/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: $font-base, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $color_base;
  background-color: $bg-base;

  @include sm-mobile() {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
