.modal {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  &.closed {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 2rem;
    top: 50%;
    left: 50%;
    overflow-y: auto;

    width: fit-content;
    max-width: 80vw;
    height: fit-content;
    max-height: 80vh;
    background-color: $color_white;
    transform: translate(-50%, -50%);

    animation: showModal 0.7s forwards;
  }

  p {
    margin-bottom: 3rem;
    text-align: center;
  }
  }

  @keyframes showModal {
  0% {
    transform: translate(0%, -50%) ;
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
  