.subscription {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.9rem 4rem;
    height: 100%;
  }

  &__header {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-secondary;
    background-size: contain;

    @media (max-width: $desktop-width) {
      background-size: cover;
    }

    .webp & {
      background-image: url("../img/static/bg-full@1x.webp");
  
      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/static/bg-full@2x.webp");
      }
    }
  
    .no-webp & {
      background-image: url("../img/static/bg-full@1x.png");
  
      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/static/bg-full@2x.png");
      }
    }
  }

  &__title {
    max-width: 65rem;
    text-align: center;
    margin-left: 0.8rem;
  }

  &__content {
    max-width: 96.5rem;
  }
}